* {
    padding: 0;
    transform-origin: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background: #ffffff url(./assert/quein.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 450px;
    margin-top: 90px;
}

.eyes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.eye {
    width: 55px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin: 20px;
    text-align: center;
}

.ball {
    background: url(./assert/eyeball\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}